extends layout

block content
  if (!user)
    a(href="/Login") Login
    br
    a(href="/register") Register

  if (user)
    p You are currently logged in as #{user.username}
    a(href="/Earrings") Take me to Earrings
    br
    a(href="/logout") Logout
