body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.EarringAttr {
  background-color:aqua;
  width: 130px;
  }
.heading{
  padding: 15px;
  background-color: orange;
  color:#00B7FF;
  margin-bottom: 15px;
  font-size: 1.5em;
  
}
  
